@charset "utf-8";

@media screen and (max-width: 800px){
	.abrirmenu,
	.cerrarmenu{
		display: block;
		cursor: pointer;
		border: 0;
		font-size: 1.2rem;
		background-color: transparent;
		color: #7350f2;
		transition: 5s;
	}
	.abrirmenu{
		color: #7350f2;
	}
	.navmenu {
		opacity: 0;
		visibility: hidden;
			
		display: flex;
		flex-direction: column;
		align-items: end;
		gap: 2rem;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		background-color: #eecb00;
		padding: 3rem;
		box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
		height: 100vh;
	}
	.navmenu.visible{
		opacity: 1;
		visibility: visible;
	}
	#menu-list {
		flex-direction: column;
		align-items: end;
	}
	#derechos {
		display: grid; 
		grid-template-columns: 1fr; 
		grid-template-rows: auto 1px 1fr 1fr; 
	}
	#derechos-actual {
		grid-area: 1 / 1 / 2 / 2; 
	}
	#hr {
		grid-area:  2 / 1 / 3 / 2;
	}
	#footer-list {
		justify-self: center;
		text-align: center;
		grid-area: 3 / 1 / 4 / 2;
	}
	#redes-sociales {
		justify-self: center;
		grid-area: 4 / 1 / 5 / 2;
	}
	
	#sec-disenadoras{
		grid-template-columns: 1fr 1fr; 
		grid-template-rows: auto auto auto; 
	}
	#disenadoras{
		grid-area: 1 / 1 / 2 / 3;
	}
	#juliana { 
		grid-area: 2 / 1 / 3 / 2; 
	}
	#juliana img {
		width: 60%;
	}
	#andrea { 
		grid-area: 2 / 2 / 3 / 3; 
	}
	#andrea img {
		width: 60%;
	}
	#laura { 
		grid-area: 3 / 1 / 4 / 2; 
	}
	#laura img {
		width: 60%;
	}
	#valentina { 
		grid-area: 3 / 2 / 4 / 3; 
	}
	#valentina img{
		width: 60%;
	}
	#mision-vision{
		grid-template-columns: 1fr; 
		grid-template-rows: auto auto;
	}
	#mision{
		grid-area: 1 / 1 / 2 / 2;
	}
	#vision{
		grid-area: 2 / 1 / 3 / 2;
	}
	#proposito{
		padding-right: 20px;
		padding-left: 20px;
		padding-bottom: 20px;
		grid-template-columns: auto auto; 
		grid-template-rows: 30% auto; 
	}
}
@media screen and (max-width: 600px){
	p{
		font-size: 1.1rem;
	}
}